apiVersion: 1
datasources:
  - name: Prometheus
    uid: streaming-lab-prom
    type: prometheus
    access: proxy
    url: http://prometheus:9090
    isDefault: true
    editable: false
    jsonData:
      httpMethod: GET
